Body {color:#414141;}
h1 {color:#66ccff;}

a { text-decoration: none; color:inherit;'target='_blank; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }
